<link rel="icon" href="/Assets/favicon.ico" type="image/x-icon" />

<nav>
  <div class="nav__wrapper">
    <h1 class="head__title">Clear</h1>
    <figure class="img__wrapper">
      <a href="/index.html">
        <img src="./Assets/Logo.avif" alt="Logo" class="logo" />
      </a>
    </figure>
    <h1 class="head__title">Praise</h1>
  </div>
  <div class="format__functions">
    <a href="/AddNewFormat.html" class="list new__format--title"
      >Add New Format</a
    >
    <a href="/PreviousFormats.html" class="list previous__format--title"
      >Previous Formats</a
    >
    <a href="/SongDatabase.html" class="list song__database--title"
      >Song Database</a
    >
  </div>
</nav>
