<nav>
  <div class="nav__wrapper">
    <figure class="img__wrapper">
      <a href="/index.html">
        <img src="./Assets/Logo.avif" alt="Logo" class="logo" />
      </a>
    </figure>
    <ul class="navlinks">
        <a href="/AddNewFormat.html">
            <li class="lists">Add New Format</li>
        </a>
        <a href="/GenerateFormat.html">
            <li class="lists">Generate Format</li>
        </a>
      <a href="/PreviousFormats.html">
        <li class="lists">Previous Formats</li>
      </a>
    </ul>
  </div>
</nav>
